.header {
  padding: 20px 0;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  opacity: 0.3;
}

.index {
  height: calc(100% - 132px);
}

.line-logo {
  opacity: 1;
  padding: 20px 0 0;
  position: relative;
  right: 0;
}

.line-hide {
  animation: line-hide 1s forwards;
  -webkit-animation: line-hide 1s forwards;
}

.line-show {
  animation: line-show 1s forwards;
  -webkit-animation: line-show 1s forwards;
}

.search {
  align-items: center;
  bottom: 50%;
  flex-direction: column;
  display: flex;
  left: 50%;
  position: absolute;
  transform: translate(-50%,0);
  z-index: 1;
}

.search-hide {
  animation: search-hide 1s forwards;
  -webkit-animation: search-hide 1s forwards;
}

.search-show {
  animation: search-show 1s forwards;
  -webkit-animation: search-show 1s forwards;
}

.search-bar {
  display: flex;
  min-width: 565px;
  max-width: 565px;
}

.search-input {
  color: #50493e;
  font-family: Amethysta;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  padding: 0 30px;
}

.arrow-logo,
.search-logo {
  width: 38px;
}

.shakespeare-logo {
  bottom: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  width: 499px;
}

.shakespeare-hide {
  animation: shakespeare-hide 1s forwards;
  -webkit-animation: shakespeare-hide 1s forwards;
}

.shakespeare-show {
  animation: shakespeare-show 1s forwards;
  -webkit-animation: shakespeare-show 1s forwards;
}

@keyframes line-show {
  0% {
    opacity: 0;
    right: 200px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes line-hide {
  0% {
    opacity: 1;
    right: 0;
  }
  100% {
    opacity: 0;
    right: 200px;
  }
}

@keyframes search-show {
  0% {
    left: 40%;
  }
  100% {
    left: 50%;
  }
}

@keyframes search-hide {
  0% {
    left: 50%;
  }
  100% {
    left: 40%;
  }
}

@keyframes shakespeare-show {
  0% {
    opacity: 0;
    right: -200px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes shakespeare-hide {
  0% {
    display: block;
    opacity: 1;
    right: 0;
  }
  100% {
    display: none;
    opacity: 0;
    right: -200px;
  }
}

@-webkit-keyframes line-show {
  0% {
    opacity: 0;
    right: 200px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@-webkit-keyframes line-hide {
  0% {
    opacity: 1;
    right: 0;
  }
  100% {
    opacity: 0;
    right: 200px;
  }
}

@-webkit-keyframes search-show {
  0% {
    left: 40%;
  }
  100% {
    left: 50%;
  }
}

@-webkit-keyframes search-hide {
  0% {
    left: 50%;
  }
  100% {
    left: 40%;
  }
}

@-webkit-keyframes shakespeare-show {
  0% {
    opacity: 0;
    right: -200px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@-webkit-keyframes shakespeare-hide {
  0% {
    display: block;
    opacity: 1;
    right: 0;
  }
  100% {
    display: none;
    opacity: 0;
    right: -200px;
  }
}
